<!DOCTYPE html>
<html lang="sv">
  <head>
    <meta charset="utf-8">
    <title>Instalive. Instagram-bilder från din stad, just nu.</title>
    <meta property="og:title" content="Instalive" />
    <meta property="og:url" content="http://www.instalive.se/" />
    <meta property="og:image" content="http://www.instalive.se/img/facebooklogo.png" />
    <meta property="og:type" content="website" />
    <meta property="og:site_name" content="Instalive" />
    <meta property="og:description" content="Instagram-bilder från din stad, just nu." />
    <meta name="twitter:card" content="summary">
    <meta name="twitter:image" content="http://www.instalive.se/img/twittercard.png"/>
    <meta name="twitter:site" content="@instalive_se"/>
    <meta name="twitter:title" content="Instalive" />
    <meta name="twitter:description" content="Instagram-bilder från din stad, just nu." />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/flat-ui.css" >
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link href="/img/apple-touch-icon.png" rel="apple-touch-icon" />
    <link href="/img/apple-touch-icon-76x76.png" rel="apple-touch-icon" sizes="76x76" />
    <link href="/img/apple-touch-icon-120x120.png" rel="apple-touch-icon" sizes="120x120" />
    <link href="/img/apple-touch-icon-152x152.png" rel="apple-touch-icon" sizes="152x152" />
    <link href="/favicon.ico" rel="icon" type="image/vnd.microsoft.icon" />
    <script>
      var _prum = [['id', '5331ba4babe53d5246b71db3'],
          ['mark', 'firstbyte', (new Date()).getTime()]];
      (function() {
         var s = document.getElementsByTagName('script')[0]
         , p = document.createElement('script');
         p.async = 'async';
         p.src = '//rum-static.pingdom.net/prum.min.js';
         s.parentNode.insertBefore(p, s);
       })();
    </script>
  </head>
  <body>
    <div id="main" class="container">
      {{{body}}}
    </div>
  <script src="http://code.jquery.com/jquery-latest.min.js"></script>
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
  {{{block "scripts"}}}
  <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)
          },i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
          ga('create', 'UA-41057292-2', 'instalive.se');
          ga('send', 'pageview');
    </script>

    <script id="mustache_alert" type="text/html">
      <div id="message" class="alert alert-danger fade in">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
        <strong>{{heading}}</strong> {{message}}
      </div>"
    </script>

    <script id="mustache_post" type="text/html">
      <li id="image_{{id}}">
        <div class="row">
          <div class="image col-md-6 col-lg-6">
            <a href="{{link}}" target="_blank">
              <img title="{{{caption.text}}}" src="{{{images.standard_resolution.url}}}" class="img-responsive img-rounded" height="{{images.standard_resolution.height}}" width="{{images.standard_resolution.width}}"/>
            </a>
          </div>
          <div class="meta col-md-6 col-lg-6">
            <div class="media">
              <a href="http://instagram.com/{{user.username}}" class="pull-left" target="_blank">
                <img class="media-object img-circle" src="{{user.profile_picture}}"/>
              </a>
              <div class="media-body">
                <a href="http://instagram.com/{{user.username}}" class="pull-left" target="_blank">
                  <h4 class="media-heading">{{user.full_name}}</h4>
                </a>
              </div>
              {{#caption}}
                {{#text}}
                  <p>{{caption.text}}</p>
                {{/text}}
              {{/caption}}
            </div>
            {{#tags}}
              <span title="Tag" class="label label-default">{{.}}</span>
            {{/tags}}
            {{#filter}}
              <span title="Filter" class="label label-info"><span class="glyphicon glyphicon-tint"></span> {{.}}</span>
            {{/filter}}
            {{#location}}
              {{#name}}
                <span title="Location" class="label label-success"><span class="glyphicon glyphicon-cloud-upload"></span> {{.}}</span>
              {{/name}}
            {{/location}}
            {{#datetime}}
              <span class="label label-primary"><span class="glyphicon glyphicon-time"></span> <date title="{{display_time_long}}" datetime="{{datetime}}">{{display_time_short}}</date></span>
            {{/datetime}}
          </div>
        </div>
      </li>
    </script>
  </body>
</html>
